.quiero-ayudar h1 {
  text-transform: uppercase;
  font-family: var(--capriola);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--blue);
  background: url('../../assets/img/quiero-ayudar/rectangle.png');
  width: 100%;
  height: 86px;
  text-align: left;
  line-height: 86px;
  margin-top: 40px;
  padding: 0 0 0 50px;
  background-size: cover;
}

.background-section {
  position: relative;
}

.background-section h1 {
  position: absolute;
  top: 10px;
}

.qr-section {
  background-color: var(--lightBlue);
  padding: 20px;
  min-height: 600px;
}

.wave {
  position: absolute;
  bottom: -10px;
  left: 0;
}

.waves {
  width: 100%;
}

.wave-2 {
  margin-top: -2px;
}

.qr-section {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.qr-section__info {
  justify-content: space-between;
  margin: 0 2%;
}

.qr-section__info h3 {
  font-weight: normal;
  font-size: 16px;
  font-family: var(--asap);
}

.qr-section__code {
  justify-content: space-around;
  align-items: center;
  font-family: var(--capriola);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.qr-section__code h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}

.qr-section__code h3 span {
  font-size: 1.1em;
  font-family: var(--capriola);
  font-size: 20px;
  text-decoration: underline;
  font-style: italic;
}

.qr-section__code img {
  width: 282px;
}

.qr-section div {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.qr-section__info p:first-child {
  font-size: 18px;
}

.donation-section {
  margin-bottom: 40px;
}

.donation-section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px 0;
}

.donation-section__title h3 {
  font-size: 22px;
  font-weight: 400;
  width: 30%;
  text-align: right;
}

.donation-section__title img {
  width: 60%;
}

.donation-section__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.donation-section__info h5,
.donation-section__info span {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.donation-section__info ul {
  line-height: 13px;
  margin: 60px 0;
  padding-left: 20px;
}

.donation-section__info li {
  list-style: disc;
  margin: 0 0 20px 0;
  font-size: 16px;
}

.donation-section__info h4 {
  width: 30%;
  text-transform: uppercase;
  font-family: var(--capriola);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--blue);
}

@media (max-width: 987px) {
  .donation-section__info ul {
    margin: 60px;
  }
}

@media (max-width: 768px) {
  .qr-section {
    flex-direction: column;
    align-items: center;
    min-height: 170vh;
  }

  .qr-section__info {
    margin: 0;
  }

  .donation-section__title {
    flex-direction: column;
    align-items: center;
  }

  .donation-section__title h3 {
    width: 100%;
    text-align: center;
  }

  .donation-section__title img {
    width: 85%;
  }

  .donation-section__info {
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
  }

  .donation-section__info h5 {
    margin: 0 1.5em;
  }

  .donation-section__info h5,
  .donation-section__info span {
    display: block;
    font-size: 16px;
    text-align: center;
  }

  .donation-section__info h4 {
    width: 100%;
    font-size: 18px;
    margin: 2rem 0;
  }

  .qr-section div {
    min-height: 40vh;
    text-align: center;
  }

  div.qr-section__code {
    min-height: 70vh;
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .quiero-ayudar h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  .donation-section__info ul {
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .quiero-ayudar h1 {
    font-size: 14px;
    line-height: 17.5px;
    height: 40px;
  }

  .qr-section{
    min-height: 0;
  }

  .qr-section__info > * {
    margin: 15px 0;
  }

  .qr-section,
  .qr-section__info p:first-child,
  .qr-section__info h3,
  .qr-section__info li,
  .qr-section__last-p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
  }

  .qr-section__info h3 {
    font-weight: 600;
    text-transform: uppercase;
  }

  .qr-section__last-p {
    text-decoration: underline;
  }

  .qr-section__code h3 {
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  .qr-section__code h3 span {
    font-size: 12px;
  }

  .donation-section__info ul {
    font-size: 12px;
    line-height: 16px;
    padding-left: 0;
    margin: 50px;
  }

  .donation-section__info li {
    margin: 0 0 10px 0;
  }
}
