
.william-morris {
    display: flex;
    gap: 50px;
    background-color: var(--lightBlue);
    padding: 83px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}

.subcategories-wcm-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}


.wcm-btn {
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 230px;
    text-align: start;
    padding-left: 15px;
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

.subcategories-wcm-container button:hover {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}
.subcategories-wcm-container button:focus {
    background-color: var(--white);
    color: var(--red);
}

.info-text-wcm-container {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;

}

.wcm-bold {
    font-weight: 700;
}

.info-text-wcm {
    display: flex;
    width: 57%;
    flex-direction: column;
    color: var(--white);
    font-size: 18px;
    font-family: var(--asap);
    font-weight: 400;
    line-height: 22px;
    gap: 30px;
}

.wcm-img-container {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../../assets/img/nosotros/william-c-morris.png);
    height: 621px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (max-width: 980px) {
    
    .william-morris {
        padding: 0;
        background-size: cover;
        flex-direction: column;
    }

    .subcategories-wcm-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 1;
        position: relative;
        padding: 40px;
        padding-bottom: 0;
    }

    .info-text-wcm-container {
        padding-top: 0;
    }
    
    .info-text-wcm {
        font-size: 16px;
        gap: 30px;
        width: 100%;
        padding: 40px;
        padding-top: 0;

    }
    
    .wcm-img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        background-image: url(../../../assets/img/nosotros/william-c-morris-mb-2.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

}

@media screen and (max-width: 520px) {
    .william-morris {
        gap: 0;
    }

    .info-text-wcm {
        font-size: 14px;
    }
    
    .nosotros-btn {
        font-size: 14px;
    }

    .wcm-img-container{
        width: 100%;
        background-image: url(../../../assets/img/nosotros/william-c-morris-mb.png);
    }
}


