.banner-container {
    background-image: url(../../assets/img/home/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
    position: relative;
}
 
.black-line-container {
    background-image: url(../../assets/img/home/black-line.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 130px;
    bottom: 120px;
} 

.white-wave-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(../../assets/img/home/white-wave.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
    position: absolute;
    bottom: 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 50px 0;
    font-family: var(--capriola);
    font-size: 20px;
    color: var(--white);
    gap: 30px;
    width: 100%;
}

.cards-container p {
    width: 250px;
    text-align: center;
}

.left-card {
    background-image: url('../../assets//img/home/yellow-card.png');

}

.central-card {
    background-image: url('../../assets//img/home/red-card.png');
}

.right-card {
    background-image: url('../../assets//img/home/blue-card.png');
}

.left-card, .central-card, .right-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 248px;
    position: relative;
    gap: 20px;
}


.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 369px;
    background-color: var(--lightBlue);
    color: var(--white);
    font-family: 'Capriola', sans-serif;
    font-weight: 400;
}

.quote-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: var(--white);
    font-family: 'Capriola', sans-serif;
    font-size: 14px;
}

.quote-line-container h3 {
    text-align: center;
}

.line, .line-loop {
   min-width: 30%;
}

.fundador-hogar {
    font-size: 17px;
}

.quote-william-morris {
    width: 800px;
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

.conocelos-btn, .sumate-btn, .te-contamos-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: var(--btnShadowTwo);
    border: none;
  
}

.conocelos-btn:hover, .sumate-btn:hover, .te-contamos-btn:hover {
    cursor: pointer;
}

.conocelos-btn {
    color: var(--yellow);
}

.sumate-btn {
    color: var(--red);
}

.te-contamos-btn {
    color: var(--lightBlue);
}