.home {
    background-color: var(--white);
}

/* Hero */

.banner-container {
    background-image: url(../../assets/img/home/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;
    width: 100%;
    position: relative;
}

 .white-wave {
    position: absolute;
    top: 490px;
    left: 0;
    width: 100%;
} 

.white-wave-mb {
    display: none;
}

.irregular-home-container {
    display: none;
}
/* Cards */

.home-cards-container {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     gap: 30px;
     position: absolute;
     top: 500px;
     left: 0;
     padding: 0 90px;
     padding-bottom: 40px;
}

.proyectos, .adoptar, .donar {
    position: relative;
}

.home-card img {
    width: 100%;
    height: auto;
}

.home-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 40px;
}

.home-card-content p {
    width: 100%;
    font-family: var(--capriola);
    font-size: 20px;
    color: var(--white);
    text-align: center;
    width: 250px;
    font-weight: 400;
}

.home-card-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: var(--btnShadowTwo);
    border: none; 
}

.proyectos-btn {
    color: var(--yellow);
}

.donar-btn {
    color: var(--red);
}

.adoptar-btn {
    color: var(--lightBlue);
}

.proyectos-btn:hover, .donar-btn:hover, .adoptar-btn:hover {
    cursor: pointer;
}

/* W.C.M quote */
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightBlue);
    color: var(--white);
    font-family: 'Capriola', sans-serif;
    font-weight: 400;
    padding-top: 70px;
    padding-bottom: 80px;

}

.quote-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    color: var(--white);
    font-family: 'Capriola', sans-serif;
    font-size: 14px;
}

.quote-line-container h1 {
    text-align: center;
    font-size: 14px;
}

.line, .line-loop {
   max-width: 35%;
}

.fundador-hogar {
    font-size: 17px;
}

.quote-william-morris {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    max-width: 750px;

}

/* Media queries */


@media screen and (max-width: 1230px) {
    .home-cards-container {
        top: 610px;
    }

    .home-card-content {
        gap: 15px;
    }

    .home-card-content p {
        font-size: 14px;
        color: var(--white);
        width: 230px;
    }

    .home-card-btn {
        padding: 10px 15px;
        font-size: 14.5px;
        border-radius: 8px;
    }

    .white-wave {
        position: absolute;
        top: 545px;
        left: 0;
        width: 100%;
    } 

    /* W.C.M quote */
    .quote-container {
        padding-top: 57px;
        padding-bottom: 38px;
    }

    .quote-line-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 18px;
        font-size: 16px;
    }

    .quote-line-container h3 {
        font-size: 16px;
    }
    

    .fundador-hogar {
        font-size: 17px;
    }

    .quote-william-morris {
        margin-top: 30px;
        font-size: 16px;
        line-height: 18px;
        max-width: 450px;
    }   
}



@media screen and (max-width: 980px) {

/* Cards */

.home-cards-container {
     flex-direction: column;
     padding-top: 0;
     height: fit-content;
     margin-top: 100px;
     background-color: var(--white);
     margin-bottom: 0;
}

/* W.C.M quote */


.quote-container {
    padding: 40px 0;
    margin-top: 47.3rem;
    position: relative;
}

.quote-line-container {
    padding-top: 20px;
}

.white-wave-mb {
    display: block;
    position: absolute;
    bottom: 95px;
}

.white-wave {
    display: none;
}

.irregular-home-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

}



@media  screen and (max-width: 557px) {
    .quote-container {
        margin-top: 41rem;
    
    }
}

@media screen and (max-width: 520px) {

  
    /* Cards */
    
    .home-cards-container {
         padding: 0 20px;
         margin-top: 140px;
         gap: 0;
    }
    
        .white-wave-mb {
            display: block;
            position: absolute;
            bottom: 20px;
        }

    
    /* W.C.M quote */
    .quote-container {
        margin-top: 44rem;
    }
    
    .quote-line-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 0px;
        font-size: 14px;
    }

    .quote-line-container h3 {
        font-size: 14px;
    }

    .fundador-hogar {
        font-size: 14px;
    }

    .quote-william-morris {
        margin-top: 30px;
        font-size: 16px;
        line-height: 18px;
        max-width: 450px;
        padding:  0 35px;
    }   
    .line, .line-loop {
        width: 63px;
    }

    }

@media screen and (max-width: 375px) {

    /* Cards */
    
    .home-cards-container {
         padding: 0 35px;
         margin-top: 170px;
         gap: 0;
         padding-bottom: 30px;
    }

    
    .white-wave-mb {
        display: block;
        position: absolute;
        bottom: 20px;
    }
    
    /* W.C.M quote */
    .quote-container {
        margin-top: 38rem;
        padding-top: 0;
    }

    
    .line, .line-loop {
        width: 50px;
    }

    
    }

