.historia {
    background-image: url(../../../assets/img/nosotros/historia-hogar.png);
    background-color: var(--lightBlue);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    background-position-y: bottom;
} 

.info-historia-container {
    display: flex;
    gap: 50px;
    background-color: var(--lightBlue);
    padding: 83px;
    padding-bottom: 30px;
    width: 100%;
}

.historia-wave-container {
    position: relative;
}

.historia-wave {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.subcategories-historia-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nosotros-btn {
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 230px;
    text-align: start;
    padding-left: 15px;
    color: var(--white);
    background-color: var(--blue);
}

.historia-btn {
    padding: 20px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 230px;
    text-align: start;
    padding-left: 15px;
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

.subcategories-historia-container button:hover {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}
.subcategories-historia-container button:focus {
    background-color: var(--white);
    color: var(--red);
}

.info-text-historia-container {
    display: flex;
    align-items: center;
}

.info-text-historia {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-size: 18px;
    font-family: var(--asap);
    font-weight: 400;
    line-height: 22px;
    gap: 20px;
}


@media screen and (max-width: 980px) {

.historia {
    height: 840px;
} 
    
    
.info-historia-container {
    padding: 40px;
    background-size: cover;
    flex-direction: column;
    padding-bottom: 0;
    gap: 20px;
}


.info-text-historia {
    font-size: 16px;
    gap: 10px;
}
}

@media screen and (max-width: 520px) {

    .historia {
        height: 770px;
    } 

    .info-historia-container {
        padding: 10px;
        gap: 20px;
        padding-bottom: 0;

    }

    .info-text-historia {
        font-size: 14px;
    }

    .nosotros-btn {
        font-size: 14px;
    }

    
.historia-wave {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}
}

@media screen and (max-width: 450px) {

    .historia {
        height: 870px;
    } 

    .info-historia-container {
        padding: 30px;
        gap: 20px;
        padding-bottom: 0;

    }

    .info-text-historia {
        font-size: 14px;
    }

    .nosotros-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    
    .historia {
        height: 930px;
    } 

    .info-historia-container {
        padding: 30px;
        gap: 20px;
        padding-bottom: 0;

    }

    .info-text-historia {
        font-size: 14px;
    }

    .nosotros-btn {
        font-size: 14px;
    }

}


@media screen and (max-width: 344px) {
    
    .historia {
        height: 900px;
    } 

    .info-historia-container {
        padding: 30px;
        gap: 20px;
        padding-bottom: 0;

    }

    .info-text-historia {
        font-size: 12px;
    }

    .nosotros-btn {
        font-size: 14px;
    }

}