.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    background-color: rgba(145, 145, 145, 0.726);
    padding: 40px;
}

.modal-container {
    width: 550px;
    height: auto;
    background-color: var(--white);
    position: relative;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 10px;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--categoryHover);
    background-color:var(--white);
    font-size: 11px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
}

.close-modal:hover {
    cursor: pointer;
}

.modal-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}