.servicios {
    background-color: var(--lightBlue);
}

.servicios-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
    gap: 13.5px;
}

.line-servicios-title {
    height: 4px;
    background-color: var(--white);
    width: 100px;
    
}

.servicios-title {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-direction: column;
    padding:0 60px;
    padding-bottom: 100px;
    
}

.first-row, .second-row, .third-row {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}


.servicio-card {
    position: relative;
}

.servicio-card-title {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 24px;
    bottom: 4px;
    width: 305px;
    height: 200px;
    padding-top: 120px;
    color: transparent;
    background-color: transparent;
    left: 0;
}

.servicio-card-title:hover {
    cursor: pointer;
    color: var(--white);
    background-color: #1F1E2199;
}