.proyectos h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 60px 0;
}

.proyectos h1::after {
  content: '';
  display: block;
  border-bottom: 4px solid black;
  width: 150px;
  margin: 10px auto;
}

.proyectos section .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1440px;
}

.card-container .proyect-card {
  min-height: 470px;
  max-width: 400px;
  margin: 0 auto;
}

.proyect-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.proyect-card img {
  height: 75px;
  margin-top: 30px;
  object-fit: contain;
}

.proyect-card img[alt='Nea'] {
  height: 100px;
}

.proyect-card p {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  margin: 50px 35px;
}

.proyect-card .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  height: 117px;
}

div.swiper-button-next, div.swiper-button-prev {
  color: #fff;
  text-shadow: 0 1px 7px #000;
}

@media screen and (max-width: 480px) {
  .proyectos h1 {
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0 -35px 0;
  }

  .proyectos h1::after {
    border-bottom: 2px solid black;
    width: 100px;
  }
}
